body {
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: 'comfortaa', comfortaa;
}
.navbar {
  background-color: black
}
.navbar-brand, .nav-link {
  color: black !important;
  font-weight: bold;
}
.hero { 
  background-color: black(255, 255, 255);
  padding: 60px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.menu-item {
  background-color: #f8f3ef;
  border-radius: 8px;
  box-shadow: 0 2px 5px white(0,0,0,0.1);
  padding: 40px;
  margin-bottom: 15px;
}
footer {
  background-color: white;
  color: black;
  padding: 20px 10px;
  text-align: center;
  margin-top: 40px;
}
.menu-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-item {
  text-align: center;
}
